<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>04_Day03_JavaEEWeb03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>张三</param-value>
  </context-param>
  <servlet>
    <servlet-name>path</servlet-name>
    <servlet-class>com.web.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>path</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.myweb.myservlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Test</display-name>
    <servlet-name>Login_Test</servlet-name>
    <servlet-class>com.login.Login_Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Test</servlet-name>
    <url-pattern>/Login_Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Count_Test</display-name>
    <servlet-name>Count_Test</servlet-name>
    <servlet-class>com.login.Count_Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Count_Test</servlet-name>
    <url-pattern>/Count_Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletRequest</display-name>
    <servlet-name>HttpServletRequest</servlet-name>
    <servlet-class>com.myweb.myservlet.HttpServletRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletRequest</servlet-name>
    <url-pattern>/HttpServletRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test_Request</display-name>
    <servlet-name>Test_Request</servlet-name>
    <servlet-class>com.myweb.myservlet.Test_Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test_Request</servlet-name>
    <url-pattern>/Test_Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download_Test</display-name>
    <servlet-name>Download_Test</servlet-name>
    <servlet-class>com.myweb.myservlet.Download_Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download_Test</servlet-name>
    <url-pattern>/Download_Test</url-pattern>
  </servlet-mapping>
</web-app>